@import "tailwindcss";

@theme {
  --color-primary: #00aeef;
  --color-secondary: #141414;
  --color-accent: #00ff88;
  --color-danger: #ff4d4d;
  --color-warning: #ffd700;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-gray-900);
    color: white;
    font-family: var(--font-sans);
  }
}